:root {
    font-family: helvetica system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;

    font-size: 52.6315%; 

    --gray: #eee;
    --gray-200: #e5e5e5;
    --gray-300: #f5f5f5;
    --gray-400: #949494;
    --gray-500: #757575;
    --gray-700: #262626;
    --gray-800: #121212;
    --black: #0f0f0f;
    --red: #f00;
}

* {
    margin: unset;
    padding: unset;
    font-family: inherit;
    /* font-size: inherit; */
    line-height: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
li {
    list-style: none;
}

/* base styles */

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

a:visited {
    color: inherit;
}

.container {
    margin-inline: auto;
    width: 100%;
    max-width: 1500px;
    padding: 1rem;
}

button {
    background-color: unset;
    border: none;
    cursor: pointer;
}

input, textarea {
    padding: 1rem;
    width: 100%;
}